
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 
body { 
  background: white; 
  line-height: 1; 
  color: black; 
  } 
ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 

@font-face {
  font-family: "Pacifico";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Pacifico-Regular.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Pacifico-Regular.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Pacifico-Regular.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Pacifico-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerRegular.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerRegular.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerRegular.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerLight.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerLight.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Muller";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerMedium.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerMedium.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerMedium.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Muller";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerBold.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/MullerBold.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerBold.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/MullerBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Qanelas";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Regular.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Regular.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Regular.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Qanelas";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Light.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Light.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Light.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Qanelas";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Medium.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Medium.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Medium.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Qanelas";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-SemiBold.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-SemiBold.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-SemiBold.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Qanelas";
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Bold.eot");
  src: url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Bold.eot?#iefix")format("embedded-opentype"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Bold.woff") format("woff"),
  url("https://pushkino-mill.ru/local/templates/main/fonts/Qanelas-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}




