.intro {
   .intro-butt {
      color: #fff;
      padding: 16px 24px;
      display: flex;
      max-width: 295px;
      align-items: center;
      justify-content: center;
      margin: 0px auto;
      background: linear-gradient(180deg, #e3cd93 0%, #bc9b4b 99.99%, rgba(217, 217, 217, 0) 100%);
      filter: drop-shadow(0px 9px 14px rgba(111, 87, 30, 0.43));
      border-radius: 10px;
      &:hover {
         background: linear-gradient(to bottom, #e8cb84 0%, #e6c575 21%, #ddab35 78%, #daa524 100%);
      }
   }
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin: 0px 0px 0px 20px;
   }
   .item {
      display: flex;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      margin: 0px 0px 42px 0px;
   }
   h2 {
      color: #000;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      margin: 0px 0px 70px 0px;
   }
   .circl {
      position: absolute;
      display: flex;
      width: 100%;
      height: 200px;
      bottom: 0;

      img {
         width: 100%;
      }
   }
   position: relative;
   padding: 86px 0px 85px 0px;
   background: url("../img/intro-bg.png") center center no-repeat;
   background-size: cover;
   //clip-path: circle(120% at 50% -140%);
}
.etaps {
   margin: 0px 0px -90px 0px;
   h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      color: #000000;
   }
   h3 {
      max-width: 590px;
      margin: 0px auto;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      color: #000000;
   }
   .item {
      position: relative;
      p {
         max-width: 230px;
         font-weight: 400;
         font-size: 16px;
         line-height: 22px;
         color: #000000;
      }
      h4 {
         font-family: "Muller", sans-serif;
         position: absolute;
         left: 45px;
         top: 40px;
         font-weight: 700;
         font-size: 100px;
         line-height: 55px;
         color: #efdeb0;
      }
   }
   .arrow {
      margin-bottom: 105px;
      align-self: center;
   }
   .wrapp {
      margin: 60px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
   }
   .circl {
      position: absolute;
      display: flex;
      width: 100%;
      height: 200px;
      bottom: 0;

      img {
         width: 100%;
      }
   }

   position: relative;
   background: #fffbf4;
   padding: 60px 0px 180px 0px;
}
.block-img {
   &.right {
   }
   &.left {
      background: #fffbf4;
   }
   .info {
      .item {
         p {
            padding: 3px 0px 7px 0px;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #333333;
         }
         span {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #333333;
         }
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 80px;
         height: 97px;
         border: 1px solid #e0e0e0;
         padding: 0px 0px 0px 0px;
      }
      .wrap {
         display: flex;
         gap: 16px;
         margin: 0px 0px 50px 0px;
      }
      .value {
         margin: 40px 0px 18px 0px;
         font-weight: 400;
         font-size: 22px;
         line-height: 30px;
         color: #000000;
      }
      p {
         max-width: 553px;
         font-size: 16px;
         line-height: 22px;
         color: #000000;
      }
      .subtitle {
         margin: 0px 0px 18px 0px;
         font-weight: 400;
         font-size: 22px;
         line-height: 30px;
         color: #000000;
      }
      h2 {
         font-weight: 700;
         font-size: 32px;
         line-height: 40px;
         color: #000000;
      }
   }
   .img {
      .item {
         h4 {
            position: relative;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 10px;
            &::after {
               content: "";
               position: absolute;
               bottom: -3px;
               margin-left: -18px;
               left: 50%;
               width: 36px;
               height: 1px;
               background: #fff;
            }
         }
         color: #fff;
         p {
            color: #fff;

            font-size: 12px;
            line-height: 14px;
            text-align: center;
         }
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         border-radius: 100px;
         width: 97px;
         height: 97px;
         background: #3c8246;
         margin: 0px 0px 18px 0px;
      }
      .items {
         position: absolute;
         right: 20px;
         top: 80px;
      }
      position: relative;
      max-width: 500px;
      max-height: 500px;

      img {
         width: 500px;
         height: 500px;
         border-radius: 0 50px;
         object-fit: cover;
      }
   }
   .butt {
      padding: 16px 24px;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      background: linear-gradient(180deg, #e3cd93 0%, #bc9b4b 99.99%, rgba(217, 217, 217, 0) 100%);
      filter: drop-shadow(0px 9px 14px rgba(111, 87, 30, 0.43));
      border-radius: 10px;
      &:hover {
         background: linear-gradient(to bottom, #e8cb84 0%, #e6c575 21%, #ddab35 78%, #daa524 100%);
      }
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
      gap: 70px;
   }
   padding: 60px 0px 60px 0px;
}
.advantages-n {
   p {
      font-size: 16px;
      line-height: 22px;
   }
   .title {
      margin: 18px 0px 12px 0px;
      color: #000;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
   }
   .item {
      max-width: 350px;
      text-align: center;
   }
   .wrapp {
      margin: 60px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
   }
   h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      color: #000000;
   }
   padding: 90px 0px;
}
.uslug {
   .butt {
      padding: 16px 24px;
      color: #fff;
      background: linear-gradient(180deg, #e3cd93 0%, #bc9b4b 99.99%, rgba(217, 217, 217, 0) 100%);
      filter: drop-shadow(0px 9px 14px rgba(111, 87, 30, 0.43));
      border-radius: 10px;
      &:hover {
         background: linear-gradient(to bottom, #e8cb84 0%, #e6c575 21%, #ddab35 78%, #daa524 100%);
      }
   }
   span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin: 0px 0px 50px 0px;
   }
   p {
      margin: 0px 0px 20px 0px;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
   }
   h3 {
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      color: #000000;
   }
   .info {
      padding: 50px 70px 70px 80px;
      max-width: 636px;
      background: #ffffff;
      box-shadow: 37px 41px 36px rgba(0, 0, 0, 0.05);
      border-radius: 0px 50px;
   }
   .wrapp {
      display: flex;
   }
   &.us01 {
      background: url("../img/us01.jpg") center center no-repeat;
      background-size: cover;
   }
   &.us02 {
      .wrapp {
         justify-content: flex-end;
      }
      background: url("../img/us02.jpg") center center no-repeat;
      background-size: cover;
   }
   &.us03 {
      background: url("../img/us03.jpg") center center no-repeat;
      background-size: cover;
   }
   padding: 160px 0px;
}
.director {
   p {
      color: #000;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
   }
   h2 {
      color: #000;
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      margin: 0px 0px 36px 0px;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
      gap: 115px;
   }
   padding: 90px 0px;
}
.gallery {
   .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
   }
   .swiper-pagination-bullet-active {
      background: #3c8246;
   }
   .swiper-container-horizontal {
      padding: 0px 0px 50px 0px;
   }
   h2 {
      margin: 0px 0px 42px 0px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: #000000;
   }
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   background: #fffbf4;
   padding: 60px 0px 90px 0px;
}
.school {
   .butt {
      padding: 16px 24px;
      color: #fff;
      background: linear-gradient(180deg, #e3cd93 0%, #bc9b4b 99.99%, rgba(217, 217, 217, 0) 100%);
      filter: drop-shadow(0px 9px 14px rgba(111, 87, 30, 0.43));
      border-radius: 10px;
      &:hover {
         background: linear-gradient(to bottom, #e8cb84 0%, #e6c575 21%, #ddab35 78%, #daa524 100%);
      }
   }
   p {
      margin: 0px 0px 50px 0px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      a {
         color: #2f80ed;
         &:hover {
            text-decoration: underline;
         }
      }
   }
   h2 {
      margin: 0px 0px 36px 0px;
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      color: #000000;
   }
   .img {
      position: absolute;
      left: -100px;
      top: 60px;
      .logo {
         img {
            margin: 0px 0px 55px 0px;
         }
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         background: #ffffff;
         width: 204px;
         height: 204px;
         bottom: -102px;
         left: 50%;
         border-radius: 100px;
         margin-left: -152px;
         box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.06);
      }
      .all {
         object-fit: cover;
         border-radius: 0 50px;
      }
   }
   .info {
      padding: 60px 100px 120px 480px;
      position: relative;
      margin: 0px 0px 0px 100px;
      background: #ffffff;
      border: 1px solid #efdeb0;
      border-radius: 0px 50px;
   }
   padding: 90px 0px;
}
.professional {
   .wrapp {
      display: flex;
      justify-content: flex-end;
      margin: 0px 0px 55px 0px;
   }
   .item {
      display: flex;
      align-items: center;
      margin: 0px 0px 24px 0px;
   }
   .info {
      p {
         margin: 0px 0px 0px 30px;
         color: #fff;
      }

      max-width: 470px;
   }
   .butt {
      display: block;
      max-width: 275px;
      margin: 0px auto;
      padding: 16px 24px;
      text-align: center;
      color: #fff;
      background: linear-gradient(180deg, #e3cd93 0%, #bc9b4b 99.99%, rgba(217, 217, 217, 0) 100%);
      filter: drop-shadow(0px 9px 14px rgba(111, 87, 30, 0.43));
      border-radius: 10px;
      &:hover {
         background: linear-gradient(to bottom, #e8cb84 0%, #e6c575 21%, #ddab35 78%, #daa524 100%);
      }
   }
   h2 {
      margin: 0px 0px 140px 0px;
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      color: #ffffff;
   }

   .circl {
      position: absolute;
      display: flex;
      width: 100%;
      height: 200px;
      top: 0;
      transform: rotate(180deg);

      img {
         width: 100%;
         height: 200px;
      }
   }

   position: relative;
   background: #000 url("../img/pr-bg.png") no-repeat;
   background-position-y: bottom;
   padding: 90px 0px 90px 0px;
}
